/*BODY*/
h2 {
  font-size: 0.5 rem;
  font-weight: 700;
  margin-bottom: 5px;
}

h4 {
  font-weight: 700;
}

h1 {
  margin-right: 100px;
}

/*ID */
#rightCol {
  width: 700px;
  height: 213px;
  border: 1px solid black;
  box-sizing: border-box;
}

#currentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#forecastContainer {
  display: flex;
  flex-direction: row;
}
#cityContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

#cityContainer button {
  margin: 5px;
  border-radius: 5px;
}
